body {
  margin: 0;
  background: #ffffff; /* sayfanın açık arka planı */
  overflow: hidden; /* sayfada scroll olmasin */
}

.container {
  height: 100vh; 
}

.head {
  height: 280px;
  background-image: url('/images/pattern-bg-desktop.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
  position: relative;
  z-index: 2; /*alttaki map'in üstünde kalsın*/
}

.search{
  width: min(500px, calc(100% - 48px));
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%); /* ortalamak için */
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
  padding:0 0 0 15px;
}

.btn-src{
  background-color: hsl(0, 0%, 17%);
  outline: none;
  border: none;
  padding: 15px 17.5px;
  border-radius: 0px 14px 14px 0px;
  cursor: pointer;

} 

.form-control{
  border: none;
  outline: none;
  width: 450px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight:350;
  font-style: normal;
  font-size: 18px;
  color:hsl(0, 0%, 58%);

}

.title h3{
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* ortalamak için */
  padding: 0 20px;
  color:#ffffff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style:normal;
  font-size: 30px;
  
}

.information {
  position: absolute;
  left: 50%;
  bottom: -85px;
  transform: translateX(-50%); /* ortalamak için */
  width: min(1100px, calc(100% - 48px)); /* genişlik 1100px'i geçmesin, ekran küçüldüğünde ise 48px boşluk bırakarak küçülsün */
  height: 180px;
  background-color: #ffffff;
  border-radius: 14px;
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
}

.articles{
  display: grid; /*eşit genişlikte olsun istiyoruz */
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* taşmayı engeller */
  gap: 0; /* ki çizgiklerle ayıracağız*/
  align-items: start;
  margin: 40px 60px;
}

.articles .article{
  padding: 0 32px;
  border-left: 1px solid hsl(0, 0%, 80%);
}

/* son kolonda çizgi olmasın */
.articles .article:first-child{
  border-left: none;     
}

.articles h3{
  margin: 0 0 12px 0;
  overflow-wrap: anywhere;      /* çok uzun kelime/domain/IP varsa da kırsın */
  color: hsl(0, 0%, 58%);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  border-right: none;     /* varsa iptal */
  padding-right: 0;       /* varsa iptal */
}

.articles p{
  margin: 0;
  white-space: normal;          /* tek satıra zorlamasın */
  overflow-wrap: anywhere;      /* çok uzun kelime/domain/IP varsa da kırsın */
  color: hsl(0, 0%, 17%);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0px;
}



#map {
  height: calc(100vh - 280px); /* head'in yüksekliğini çıkararak kalan alanı kaplaması için yaptım*/
  position: relative;
  z-index: 1;
}

// CSS ile tüm markerları boyutlandırdık
.leaflet-marker-icon {
    width: 41px !important;
    height: 50px !important;
    margin-left: -20px !important;
    margin-top: -66px !important;
}
/*cursor değiştirme*/
body {
    cursor: url('custom-cursor.png'), auto;
}

/* farklı cursor tipleri için */
a:hover {
    cursor: grab;
}

button:hover {
    cursor: grab; 
}

input:hover {
    cursor: grab; 
}


@media (max-width: 780px) {
  .head {
    background-image: url('/images/pattern-bg-mobile.png');
    
  }

  .search {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%); /* ortalamak için */
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
  padding:0 0 0 12px;
  width: min(300px, calc(100% - 24px));
  
  }

  .form-control {
    width: 80%;
    font-size: 16px;
  }

  .title h3 {
    font-size: 23.5px;
  }

  .information {
    position: absolute;
    left: 50%;
    bottom: -140px;
    width: calc(100% - 100px);
    height: auto;
    padding: 10px;
    align-items: center;
    text-align:center;
    transform: translateX(-50%);
  }

  .articles {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 12px;
    margin: 0;
    align-items: center;
  }

  .articles .article{
    border-left:none;
    align-items: center;
    text-align:center;
  }

  .articles h3{
    font-size: 10px;
    align-items: center;
    
  }
  .articles p{
    font-size: 14px;
    align-items: center;
  }

  #map{
    height: calc(100vh - 200px); /* head'in yüksekliğini çıkararak kalan alanı kaplaması için yaptım*/
    position: relative;
    z-index: 1;
  }

  .btn-src{
    padding: 10px 22.5px;
  
     
  }
  .form-control{
    font-size: 13px;
  }
  
}
